.card-container {
   
    gap: 8rem !important;
}

.card{
    background-color: rgba(159, 98, 54, 0.85); 
    border: 1px solid var(--desert-dark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: white
}
.card img{
    height: 350px;
    object-fit: cover;
    

}